/* ==========================================================================
   Nerdzork genesis custom styles
   ========================================================================== */
* {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #F2F5F8;
    color: #2b3d50;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
.hdg_4 {
    font-size: 14px;
}

/* ---------------------------------------------------------------------
 Container
------------------------------------------------------------------------ */
.contain {
    margin: 0 auto;
    max-width: 1280px;
}

/* ---------------------------------------------------------------------
 Masthead
------------------------------------------------------------------------ */
.masthead {
    background-color: #ffffff;
    padding: 24px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 290px;
}

/* ---------------------------------------------------------------------
 Infobox
------------------------------------------------------------------------ */
.infobox {
    background-color: #ffffff;
    border: 1px solid #eef1f4;
    border-radius: 4px;
}

.infobox-hd {
    border-bottom: 1px solid #eef1f4;
    padding: 1rem;
    color: #b7bac6;
    text-transform: uppercase;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.infobox-bd {
    padding: 1rem;
}

.grid-form fieldset.vr,
.vr {
    margin-bottom: 1rem;
}

/* ---------------------------------------------------------------------
 Subform
------------------------------------------------------------------------ */
.sub-form-bd {
    border-left: 3px solid #d7c826;
}

.sub-form-bd_alt {
    border-left: 3px solid #92d8dd;
}

.sub-form-item {
    border-top: 1px solid #000000;
}

.with-remove {
    display: flex !important;
    justify-content: space-between;
}

/* ---------------------------------------------------------------------
 Buttons
------------------------------------------------------------------------ */
.btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #2f939d;
    border-radius: 4px;
    display: inline-block;
    padding: 2px 8px;
    vertical-align: middle;
    text-transform: none;
    cursor: pointer;
}

.btn_sm {
    font-size: 12px;
}

.btn_danger {
    background-color: #9d432f;
}

.btn[disabled] {
    background-color: #d6d6d6;
    cursor: auto;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons_sb {
    width: 100%;
    justify-content: space-between;
}

#load_message {
    padding-left: 1rem;
}

/* ---------------------------------------------------------------------
 Form
------------------------------------------------------------------------ */
span.required:after,
label.required:after {
    content: " *";
    color: red;
}

/* ---------------------------------------------------------------------
 Tabs
------------------------------------------------------------------------ */
.tabs {
    display: flex;
    flex-wrap: wrap;
    background: #efefef;
    border-bottom: 1px solid #000000;
}

.tab {
    padding: 7px 0;
}

.tabs-input {
    position: absolute;
    opacity: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #000000;
}

.tabs .label {
    padding: 8px;
    background: #e5e5e5;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #7f7f7f;
    transition: background 0.1s, color 0.1s;
}

.tabs .label:hover {
    background: #d8d8d8;
}

.tabs .label:active {
    background: #ccc;
}

.tabs .tabs-input:checked + .label {
    background: #ffffff;
    color: #000000;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #ffffff;
}

/* ---------------------------------------------------------------------
 Hint
------------------------------------------------------------------------ */
.hint {
    display: inline-block;
    text-decoration: none;
    color: #333333;
    font-size: 12px;
    background-color: #d7c826;
    padding: 2px 8px;
    border-radius: 4px;
    margin-top: 4px;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #b6aa20;
    border-right: 1px solid #b6aa20;
}

.hint:hover {
    background-color: #e5db6c;
}

.hint:active {
    border-top: 1px solid #d7c826;
    border-left: 1px solid #d7c826;
    border-bottom: none;
    border-right: none;
}

.hint_up {
    position: absolute;
    top: 0;
    right: 4px;
}

/* ---------------------------------------------------------------------
 Section
------------------------------------------------------------------------ */
.section-btns {
    margin-top: 10px;
    display: flex;
}

.section-btns .btn {
    margin-right: 10px;
}

.section-btns select {
    width: auto;
    min-width: 100px;
}

/* ---------------------------------------------------------------------
 Grid form overrides
------------------------------------------------------------------------ */
.grid-form {
    padding: 0 8px;
}

.grid-form fieldset.sub-form,
.grid-form fieldset fieldset {
    margin-top: 1rem;
}

.grid-form fieldset fieldset legend {
    padding-left: 8px;
}

.grid-form input[type="text"], .grid-form input[type="email"], .grid-form input[type="number"], .grid-form input[type="password"], .grid-form input[type="search"], .grid-form input[type="tel"], .grid-form input[type="url"], .grid-form input[type="color"], .grid-form input[type="date"], .grid-form input[type="datetime"], .grid-form input[type="datetime-local"], .grid-form input[type="month"], .grid-form input[type="time"], .grid-form input[type="week"], .grid-form textarea, .grid-form select {
    font-size: 16px;
}

[data-field-span] {
    position: relative;
}

/* ---------------------------------------------------------------------
 Loading indicator
------------------------------------------------------------------------ */
.ld-ext-right {
    position: relative;
    xxtransition: all 0.3s;
    xxtransition-timing-function: ease-in;
}
.ld-ext-right > .ld {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin: -0.5em;
    opacity: 0;
    z-index: -1;
    xxtransition: all 0.3s;
    xxtransition-timing-function: ease-in;
}
.ld-ext-right > .ld > * {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0.5em, -0.5em);
}
.ld-ext-right.running > .ld {
    opacity: 1;
    z-index: auto;
    visibility: visible;
}
.ld-ext-right.running {
    padding-right: 2.5em !important;
}
.ld-ext-right > .ld {
    top: 50%;
    left: auto;
    right: 1.25em;
}

.ld-ring,
.ld-spinner {
    width: 1em;
    height: 1em;
    position: relative;
    color: inherit;
    display: inline-block;
    box-sizing: content-box;
}
.ld-ring:after,
.ld-spinner:after {
    content: " ";
    display: block;
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    transform-origin: 0em 0em;
    transform: translateZ(0) scale(0.5);
    backface-visibility: hidden;
}
.ld-ring:after {
    border-radius: 50%;
    border: 0.3em solid currentColor;
    border-left-color: transparent;
}

@keyframes ld-spin
{
    0% {
        animation-timing-function: cubic-bezier(0.5856,0.0703,0.4143,0.9297);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ld.ld-spin {
    animation: ld-spin 1s infinite linear;
}
@keyframes ld-squeeze
{
    0% {
        animation-timing-function: cubic-bezier(0.1685,0.4459,0.3641,0.7833);
        transform: scale(0.5,1);
    }
    30% {
        animation-timing-function: cubic-bezier(0.0995,0.199,0.9948,0.959);
        transform: scale(0.9490000000000001,0.5509999999999999);
    }
    50% {
        animation-timing-function: cubic-bezier(0.6064,0.3078,0.5406,0.6764);
        transform: scale(1,0.5);
    }
    55% {
        animation-timing-function: cubic-bezier(0.1401,0.5826,0.6091,0.9651);
        transform: scale(0.8019999999999999,0.6980000000000001);
    }
    100% {
        transform: scale(0.5,1);
    }
}
